// * {
//   @apply snap-m-20;
// }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
  background-color: var(--bg);
  color: var(--color);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;

  #main.home {
    @apply mt-200px;

    @screen lt-tb {
      @apply mt-150px;
    }
  }

  #main:not(.home) {
    @apply mt-100px;
  }
}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

a {
  @apply no-underline;
}




.icon {
  @apply h-6 w-6 inline-flex;
}

.icon.solid {
  @apply fill-slate-500;
}

.icon.stroke {
  @apply stroke-slate-500;
}

img {
  max-width: 100%;
  margin: 0;
  display: block;
}

/* __container utility */
.__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
