
.article-list {
  @apply sm:(max-w-400px px-10px) tb:container mx-auto;
}

.page-section {
  @apply mx-auto p-4 py-0 sm:max-w-xl tb:max-w-4xl lg:max-w-5xl;
}

.article-item a {
  @apply no-underline;
}

.textsContainer {
    padding: 0 2rem 0.8rem;
}

.linkButton {
@apply bg-indigo-500 text-white rounded-5px sm:(text-sm mb-8) tb:text-lg py-[1rem] px-[2rem] inline-block;
}
.linkButton_s {
@apply bg-indigo-500 text-white rounded-5px sm:(text-sm mb-4) tb:text-base py-[0.5rem] px-[1rem] inline-block;
}
// .linkButton:hover {
//    @apply   text-dark-700;
// }
.blogCard {
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
  margin-bottom: 1rem;

}
#twitter-widget-0 {
  @apply sm:ml-4 tb:ml-12 lg:ml-16;
}

.markdown-body Icon {
  @apply inline-block pr-2;
}
/* Blog Breadcrumbs */

.blog-breadcrumb {
  @apply inline-block text-center font-light at-sm:(mt-2 mb-8 border-b-2 border-jis-blue)
}

.blog-breadcrumb > span {
  @apply mx-1 inline;
}

.blog-breadcrumb > li {
  @apply inline;
}

.blog-breadcrumb > li a {
  @apply text-jis-blue;
}

.blog-breadcrumb > li a:hover {
  @apply underline;
}
.separator {
  @apply mx-1;
}
