.flex-center-x {
 @apply flex flex-wrap justify-center;
}

.flex-center-y {
  @apply
    flex
    flex-wrap
    items-center;
}

.flex-center-xy {
  @apply
    flex
    flex-wrap
    items-center
    justify-center;
}
/* Blog Breadcrumbs */

.blog-breadcrumb {
  @apply inline-block text-center font-light;
}

.blog-breadcrumb > span {
  @apply mx-1 inline;
}

.blog-breadcrumb > li {
  @apply inline;
}

.blog-breadcrumb > li a {
  @apply text-jis-blue;
}

.blog-breadcrumb > li a:hover {
  @apply underline;
}
.separator {
  @apply mx-1;
}
