.flex-center-x {
 --at-apply: flex flex-wrap justify-center;
}

.flex-center-y {
  --at-apply:
    flex
    flex-wrap
    items-center;
}

.flex-center-xy {
  --at-apply:
    flex
    flex-wrap
    items-center
    justify-center;
}
/* Blog Breadcrumbs */

.blog-breadcrumb {
  --at-apply: inline-block text-center font-light;
}

.blog-breadcrumb > span {
  --at-apply: mx-1 inline;
}

.blog-breadcrumb > li {
  --at-apply: inline;
}

.blog-breadcrumb > li a {
  --at-apply: text-blue-300;
}

.blog-breadcrumb > li a:hover {
  --at-apply: underline;
}
.separator {
  --at-apply: mx-1;
}
