
:root {
  --color: #243746;
  --color-primary: #d8002d;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark {
  --color: #ebf4f1;
  --color-primary: #d8002d;
  --color-secondary: #fdf9f3;
  --bg: #222;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

// Breakpoints
// $XL: 1366;
$XXL: 1536;
$XL: 1280;
$LG: 1024;
$TB: 768;
$SM: 576;
$XS: 375;

// Fonts
$FONT_FAMILY_BASE: "Hiragino Sans", "メイリオ", Meiryo, sans-serif;
$FONT_EN: 'Source Sans Pro', sans-serif;
$FONT_WEIGHT_BASE_NORMAL: '400';
$FONT_WEIGHT_BASE_DEMIBOLD: '600';
$FONT_WEIGHT_BASE_BOLD: '700';
$FONT_WEIGHT_EN_NORMAL: '400';
$FONT_WEIGHT_EN_BOLD: '600';

// Colors
$COLOR_MAIN: #42b883;
$COLOR_BASE: #35495e;
// ink: text-gray-700 visited: text-gray-400

$SHADOW_BASE: 3px 3px 6px rgba(#d9e6bd, 0.63);
$SHADOW_HOVER: 3px 3px 24px rgba(#d9e6bd, 0.9);

// Image Path
$PATH: "@/assets/images/";

// Speed
$SEC: 0.3s;

// dummy fonts
// @font-face {
//     font-family: "Redacted";
//     src: url("@/assets/redacted-font/fonts/web/redacted-regular.eot");
//     src: url("@/assets/redacted-font/fonts/web/redacted-regular.woff2") format("woff2"),
//          url("@/assets/redacted-font/fonts/web/redacted-regular.woff") format("woff"),
//          url("@/assets/redacted-font/fonts/web/redacted-regular.ttf") format("opentype"),
//          url("@/assets/redacted-font/fonts/web/redacted-regular.svg#filename") format("svg");
// }

// .prototype {
//     font-family: "Redacted";
//       // color: #999;
// }

// .prototype-script {
//     font-family: "Redacted Script";
//     // color: #999;
// }
