.article {
  @apply text-left;
}
.article-list {
  @apply sm:(max-w-400px px-10px)  tb:max-w-2xl lg:max-w-5xl mx-auto;
}

.page-section {
  @apply mx-auto p-1rem py-0 sm:max-w-xl tb:max-w-4xl lg:max-w-5xl;
}

.article-item a {
  @apply no-underline;
}

.textsContainer {
    padding: 0 2rem 0.8rem;
}

.linkButton {
  @apply  bg-blue-500 text-white  cursor-pointer hover:(bg-success-500 text-red-300)  rounded-5px sm:(text-sm mb-2rem) tb:text-base lg:text-lg py-1rem px-2rem inline-block;
}
.linkButton_s {
  @apply bg-indigo-500 text-white rounded-5px sm:(text-sm mb-4) tb:text-base py-0.5rem px-1rem inline-block;
}
// .linkButton:hover {
//    @apply   text-dark-700;
// }
.blogCard {
  box-shadow: 0 4px 16px 0 rgb(0 0 0 /0.2);
  margin-bottom: 1rem;
}
#twitter-widget-0 {
  @apply sm:ml-1rem tb:ml-3rem lg:ml-4rem;
}

.markdown-body Icon {
  @apply inline-block pr-0.5rem;
}
/* Blog Breadcrumbs */

.blog-breadcrumb {
  @apply inline-block font-light at-sm:(mb-2rem);
}

.blog-breadcrumb > span {
  @apply mx-0.25rem inline;
}

.blog-breadcrumb > li {
  @apply inline;
}

.blog-breadcrumb > li a {
  @apply text-blue;
}

.blog-breadcrumb > li a:hover {
  @apply underline;
}
.separator {
  @apply mx-0.25rem;
}
