@forward "variables";
@use "variables" as *;


.visually-hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(50%) !important;
  clip: rect(0, 0, 0, 0) !important;
}

@mixin focus-base {
  outline: 2px solid var(--COLOR_MAIN);
  outline-offset: 6px;
}

//@mixin font-family($font-family: sans-serif) {
//  @if $font-family-sans-serif == sans-serif {
//    font-family: $font-family-sans-serif;
//    @media all and (-ms-high-contrast: none) {
//      & {
//        font-family: $ie-font;
//      }
//    }
//  } @else if $font-family == serif {
//    font-family: $font-family-serif;
//    font-feature-settings: 'palt';
//  } @else if $font-family == monospace {
//    font-family: $font-family-monospace;
//  }
//}

@mixin heading05(
  $color: #333,
  $bg: #fff,
  $font-size: 46px) {
  position: relative;
  padding: 5px 20px;
  font: bold calc($font-size/1.6);
  color: $color;
  text-shadow: 1px 1px 0 $bg, 2px 2px 0 #999;
  background: $bg;
  background-image:
    linear-gradient(to bottom -45deg, transparent 40%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.1) 60%, transparent 60%);
  background-size: 4px 4px;
  border-top: $color solid 3px;
  border-bottom: $color solid 3px;
  margin-bottom: 10px;

  &::before {
    position: absolute;
    top: 100%;
    left: 24px;
    content: ' ';
    border-color: transparent;
    border-style: solid;
    // width:0;
    // height:0;
    border-width: 12px;
    border-top-color: $color;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 28px;
    z-index: 1;
    content: ' ';
    border-color: transparent;
    border-style: solid;
    // width:0;
    // height:0;
    border-width: 8px;
    border-top-color: #f0f0f0;
  }
}

@mixin hover {
  @media (hover: hover){
    &:where(:any-link, :enabled, summary):hover {
      @content;
    }
  }
}